.animate-charcter
{
   text-transform: none;
  background-image: linear-gradient(
    -225deg,
    #fde50b 0%,
    #4a9c06 29%,
    #af345df1 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
      margin-top: 20px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



body {
    animation: changeBg 5s infinite alternate linear;
}
@keyframes changeBg{
    0% {
        background: black;
    }
    25% {
        background: #60d394e8;
    }
    50% {
        background: yellowgreen;
    }
    75% {
        background: rgb(230, 154, 13);
    }
    100% {
        background: #120835;
    }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

label {
  font-size: 1.5em;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button[type='submit'] {
  padding: 1px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
}

button[type='submit']:hover {
  background-color: #3e8e41;
}

body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}
.holder {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
.image {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}
span {
  margin: auto;
  font-size: 2rem;
}
@keyframes rotate360 {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(-360deg);
  }
}
.image:nth-child(1) {
  background-image: url("Images/code.webp");
  transform: rotateY( 0deg) translateZ(430px);
}

.image:nth-child(2) {
  background-image: url("Images/code.webp");
  transform: rotateY( 40deg) translateZ(430px);
}

.image:nth-child(3) {
  background-image: url("Images/code.webp");
  transform: rotateY( 80deg) translateZ(430px);
}

.image:nth-child(4) {
  background-image: url("Images/code.webp");
  transform: rotateY( 120deg) translateZ(430px);
}

.image:nth-child(5) {
  background-image: url("Images/code.webp");
  transform: rotateY( 160deg) translateZ(430px);
}

.image:nth-child(6) {
  background-image: url("Images/code.webp");
  transform: rotateY( 200deg) translateZ(430px);
}

.image:nth-child(7) {
  background-image: url("Images/game.jpg");
  transform: rotateY( 240deg) translateZ(430px);
}

.image:nth-child(8) {
  background-image: url("Images/game1.jpg");
  transform: rotateY( 280deg) translateZ(430px);
}

.image:nth-child(9) {
  background-image: url("Images/game3.jpg");
  transform: rotateY( 320deg) translateZ(430px);
}